<html lang="en">
<head>
    <link rel="stylesheet" href="../node_modules/tags-input/tags-input.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../node_modules/tags-input/tags-input.js"></script>
</head>
<body class="container">
<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>

        <form action="http://127.0.0.1:5000/test" method="POST">
            <div>
                <input type="submit" value="Edit"/>
            </div>
            <% images.forEach(function(image) { %>
            <div>
                <img src="/docs/images/<%= image.id + image.extension %>"/>
                <input name="<%=image.id%>" type="tags" id="<%=image.id%>" value="<%= image.tags %>"/>
            </div>
            <% }); %>
        </form>

    </div>
</main>
<script>
    [].forEach.call(document.querySelectorAll('input[type="tags"]'), tagsInput);
</script>
</body>
</html>