<html>
<head>
    <%- include parts/head.ejs %>
    <title>Komentovacie obrazky</title>
</head>

<body>
<h1>Komentovacie obrazky</h1>
<a href="/edit">Edit</a>
<a href="/docs">Show</a>
<a href="/upload">Upload</a>

<%- include parts/tagScript.ejs %>
</body>
</html>