<html>
<head>
    <%- include parts/head.ejs %>
    <title>File Uploading Form</title>
</head>

<body>
<h1>File Upload:</h1>
Select a file to upload: <br/>

<form action="http://127.0.0.1:5000/upload" method="POST"
      enctype="multipart/form-data">
    <input type="file" name="fileName"/>
    <br/>
    <input name="tags" type="tags" placeholder="tags" id="tags"/>
    <br/>
    <input type="submit" value="Upload File"/>
</form>

<%- include parts/tagScript.ejs %>
</body>
</html>